/* Import fonts */
@import url("../fonts/Roboto.css");

/* Reset and normalize */
@import url("../css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&display=swap");

$b: 1px solid black;
$orange: rgb(253, 97, 6);

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Frank Ruhl Libre", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px 0 rgb(0, 0, 0), -2px -1px 0 $orange;
  font-size: 50px;

  &:hover {
    text-shadow: 3px 1px 0 rgb(0, 0, 0), -3px -1px 0 $orange;
  }
}

a {
  text-decoration: none;
}

hr {
  border-color: rgb(0, 0, 0);
  border-width: 1.5px;
  width: 50%;
  margin: 30px 25%;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

figcaption {
  font-size: 20px;
  height: 50px;
  width: 120px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

body {
  width: 95%;
  margin: auto;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.main-page {
  display: grid;
  width: 85%;
  margin: auto;
}

.top {
  display: flex;
  justify-content: space-between;
}

.submit-button,
.add-button,
.input-submit,
.input-reset,
.data-submit,
.data-reset,
.teachers-list-add {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: $orange;
  border: 1px solid $orange;
  width: 40%;
  font-size: 15px;
  font-weight: bold;
}

.submit-button:hover,
.add-button:hover {
  background-color: $orange;
  color: rgb(255, 255, 255);
}

.search {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  width: 30%;
  height: 40px;

  .search-form {
    width: 60%;
  }

  .submit-button {
    width: 30%;
  }
}

.menu {
  display: flex;
  justify-content: space-between;

  button {
    cursor: pointer;
    height: 40px;
    width: 15%;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: $orange;
    border: 1px solid $orange;
  }

  button:hover {
    background-color: rgb(253, 97, 6);
    color: rgb(255, 255, 255);
  }
}

.menu-headers {
  width: 45%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;

  a {
    color: $orange;
    font-size: 20px;
  }

  a:hover {
    color: rgb(255, 0, 0);
  }
}

.img-container {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border: 3px solid rgb(253, 97, 6);
  overflow: hidden;

  .teacher-initials {
    margin-top: 45px;
    color: rgb(253, 97, 6);
    font-size: 30px;
    text-align: center;
  }

  .teacher-initials:hover {
    margin-top: 40px;
    font-size: 40px;
  }

  img {
    height: 120px;
    width: 120px;
  }

  img:hover {
    transform: scale(1.3, 1.3);
  }

  &:hover {
    border: 3px solid rgb(255, 0, 0);
  }
}

.filter-checkboxes {
  display: flex;
  width: 50%;
}

.checkbox-container {
  display: flex;
  align-items: center;
  color: rgb(150, 150, 150);

  &:hover {
    color: rgb(0, 0, 0);
  }
}

.check {
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 50px;
  border-right: 2px dotted rgb(107, 107, 107); /* Параметры границы */
}

.teachers-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 30px 0;
  width: 100%;

  figure {
    width: 120px;
    margin: 20px auto 20px auto;
  }

  li {
    list-style-type: none;
    text-align: center;
  }
}

.country {
  font-size: 12px;
}

.statistics-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  font-weight: normal;
  vertical-align: middle;
}

tbody th,
.statistics-table-name {
  text-align: left;
}

.ascending::after {
  position: relative;
  left: 5px;
  content: '\2191';
}

.descending::after {
  position: relative;
  left: 5px;
  content: '\2193';
}

thead th:nth-child(1) {
  width: 40%;
}

thead th:nth-child(2) {
  width: 10%;
}

tr {
  height: 30px;
}

thead th:nth-child(3) {
  width: 25%;
}

thead th:nth-child(4) {
  width: 25%;
}

thead th:hover {
  background-color: rgb(235, 235, 235);
  border-bottom: 4px solid black;
}

tbody td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: rgba(243, 231, 231, 0.85);
}

thead {
  border-bottom: 1.5px solid black; /* Параметры границы */
}

.paginator {
  display: flex;
  justify-content: center;

  :not(:last-child) {
    margin-right: 30px;
  }

  .page-link {
    text-decoration: none;
    color: rgb(14, 41, 165);
    cursor: pointer;
  }
}

.favorites-list {
  position: relative;
  margin: auto;
  padding: 0;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  column-gap: 100px;
  width: 100%;

  li {
    list-style: none;
    width: 20%;
  }

  figure {
    width: 120px;
    margin: 20px auto 20px auto;
  }
}

.rotate {
  width: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  scroll-behavior: smooth;
  column-gap: 0;
  transform: scale(1.3, 1.3);
}

.arrow {
  height: 50px;
  width: 50px;
  border: solid rgb(94, 92, 92);
  border-width: 0 5px 5px 0;
  display: block;
  padding: 3px;
  margin: auto;

  &:hover {
    border: solid rgb(0, 0, 0);
    border-width: 0 5px 5px 0;
  }
}

.right {
  position: absolute;
  right: 5%;
  transform: rotate(-45deg);
}

.left {
  position: absolute;
  left: 5%;
  transform: rotate(135deg);
}

.favorites-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
}

#favorites {
  width: 100%;
  overflow: hidden;
}

.arrow-container {
  display: block;
  margin-top: 10%;
}

.img-wrapper {
  display: flex;
}

.favorite::before {
  color: rgb(255, 255, 0);
  font-size: 2rem;
  margin-left: 50px;
  margin-top: 25px;
  position: absolute;
  content: "\2605";
}

.hidden_favorites,
.hidden_photo,
.input-favorites {
  display: none;
}

.blur {
  filter: blur(3px);
}

.teacher_info {
  display: none;
  width: 50vw;
  height: 70vh;
  padding: 20px 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.teacher-map {
  display: none;
  margin-top: 5px;
  height: 400px;
}

.toggled {
  height: 95vh;
}

.teacher-content {
  h2 {
    text-align: left;
  }
}

.teacher-content-image {
  float: left;
  width: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.teacher-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.star {
  width: 40px;
  height: 40px;
}

.map-link {
  text-decoration: underline;
}

.add {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 500px;
  padding: 10px 50px 10px 50px;

  h2 {
    margin-bottom: 20px;
  }
}

.inputs input,
.inputs select {
  margin-top: 5px;
  width: 200px;
  margin-bottom: 10px;
}

.sex,
.bg-color {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bg-color-input {
  display: flex;
}

.popup-button {
  width: 200px;
  height: 30px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &::before,
  &::after {
    position: absolute;
    content: " ";
    height: 12px;
    width: 2px;
    background-color: #333;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.about-text {
  text-align: left;
}

.bottom {
  margin: 20px 0;

  .bottom-link {
    color: rgb(21, 10, 179);
  }
}

.error-message {
  font: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 30px;
}

.filter-inputs {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;

  input {
    width: 130px;
  }
}

.filter-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.input-reset,
.input-submit,
.data-submit,
.data-reset,
.teachers-list-add {
  width: 150px;
  height: 30px;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.data-select {
  display: none;
  width: 100px;
}

.displayed {
  display: block;
}

.data-filter {
  column-gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  div {
    width: 100px;
  }
}

#mapid { height: 180px; }

#statistics-age-chart,
#statistics-gender-chart {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .menu button {
    width: 40%;
  }

  .search {
    width: 40%;
  }

  .add {
    height: 90vh;
    width: 50vw;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 900px) {
  .menu button {
    width: 35%;
  }

  .search {
    width: 50%;
  }

  .menu-headers {
    width: 60%;
  }

  .filter-checkboxes,
  .filter-inputs,
  .filter-buttons {
    width: 100%;
    justify-content: center;
  }

  .teacher_info {
    width: 80vw;
  }

  .teachers-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .top {
    display: block;
    margin-bottom: 40px;
  }

  .search {
    width: 100%;
  }

  .menu {
    display: block;

    button {
      width: 50%;
    }
  }

  .menu-headers {
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;

    a {
      display: block;
      margin-top: 40px;
    }
  }

  .filter-checkboxes {
    width: 100%;
  }

  .favorites-list {
    column-gap: 40px;
  }
}

@media only screen and (max-width: 700px) {
  .teachers-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .filter-checkboxes {
    display: block;
    text-align: center;

    .check {
      margin: 20px 0 20px 0;
      border: none;
      padding: 0;
    }
  }

  .favorites-list {
    column-gap: 60px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
  }

  .teachers-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .search {
    display: block;
    width: 100%;

    input {
      display: block;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .search-form,
    .submit-button {
      width: 100%;
    }
  }

  table {
    font-size: 10px;
  }

  .filter-checkboxes {
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {
  .teachers-list {
    grid-template-columns: 1fr;
  }
}
